/node_modules

# generated bundle files
/out.js
/bundle
/dist
/assets
*.zip
/*.yml
!/*/*.yml
/css
/fonts
/svg
yarn-error.log
/rulesets

# IDE files
/coverage
.idea

# generated json files
rules/*.json

# generated css from bootstrap-italia
src/bootstrap-italia-custom.min.css
